<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b58d6ae2-631f-4ca1-8546-5e2d744425b5" Alias="Contact - Pick a Contact Form - Form Picker (1)" Level="1">
  <Info>
    <Name>Contact - Pick a Contact Form - Form Picker (1)</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>49</SortOrder>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>