<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4db199c-607a-4d70-b5a4-18be77949822" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="5dc263b8-4b17-42aa-85bb-7eef9c14d096">contentBase</Composition>
      <Composition Key="b4cf7ee2-0983-4914-9c20-ec2c7ab9d3d8">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f12f3f9a-988c-42a4-b458-ff2e06a4564c">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>c4db199c-607a-4d70-b5a4-18be77949822</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>