<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="04ef16c9-5c28-419b-8eac-0fb9d723baae" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="5dc263b8-4b17-42aa-85bb-7eef9c14d096">contentBase</Composition>
      <Composition Key="b4cf7ee2-0983-4914-9c20-ec2c7ab9d3d8">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="97f55b70-fdcb-449e-8549-ce4a701ab041">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>661f0df8-5886-4486-b18a-7e47dccbf159</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>aacdd1bb-ffcc-4847-976c-76b7044d97a8</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4443b31e-0895-449e-9090-6547e2cd6c5a</Key>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>