<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7d918cb-c016-4e51-a177-2be56a98f73b" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="766b9cbc-fe2e-4ac0-8826-c24069a5c20e">contentBase</Composition>
      <Composition Key="8155e34a-ea66-4a91-ba6e-c2c4158b1126">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1b58867b-6d03-4542-be7c-1acef3351600">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>6bf89283-dd8b-471d-80f1-761f8f9d76c4</ContentType>
    <ContentType>96876024-64a4-47f2-866e-bd97f378a4a2</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>48d22ed6-528b-4987-bc99-c1d2e832ddaa</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d37ec887-f49e-419c-97fb-3d4fbef2890b</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2570431c-d9a6-44a1-b477-db72d23a61e6</Key>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>