<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96876024-64a4-47f2-866e-bd97f378a4a2" Alias="productCategory" Level="1">
  <Info>
    <Name>Product Category</Name>
    <Icon>icon-box-open color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ProductCategory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f7778e0f-8af8-4bb9-80e7-c7ee057a6cc2">ProductCategory</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>6bf89283-dd8b-471d-80f1-761f8f9d76c4</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>