<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9faeb27-11f4-4431-bb4d-993a9e2e91de" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="5dc263b8-4b17-42aa-85bb-7eef9c14d096">contentBase</Composition>
      <Composition Key="b4cf7ee2-0983-4914-9c20-ec2c7ab9d3d8">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="82843ced-32fc-43a0-b9b9-2d833e7ce32e">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>cf013388-5869-4cb2-ac27-338e08a4a2b9</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4c0fa200-844a-414e-9882-03b5c8a4ec69</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f58431e1-33aa-447a-80d7-2b449fa5dd34</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f4b8007-fdc5-4932-b5c6-79023c7cc8dc</Key>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>